{% import 'macros.html' as  macros %}
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
<div class="panel panel-primary">
    <div class="panel-heading">{{ item.name | slice(0, 7) }}</div>
    <div class="panel-body">
        <a href="card.php?id={{ item.id }}">{{ item.description | slice(0, 20) }} </a>
    </div>
    <div class="panel-footer">
        дата поступления: {{ item.date | date('Y')  }}<br>
        <hr>
        цена: <b><big>{{ item.price }}руб</big></b> <br>
        цена: <spa>{{ item.price | priceToDollars }}$</span> <br>
        цена: <spa>{{ item.price | priceToEuro}}&euro;</span> <br>
            <hr>
        теги:
        {{ macros.tagList(item) }} <br>
        {% if item is adult %}
            <div class="alert alert-danger" role="alert">Рекомендованно для взрослых 18+</div>
        {% endif %}
    </div>
</div>
</div>